/* inika-regular - latin */
@font-face {
	font-family: 'Inika';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		 url('../assets/fonts/inika-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../assets/fonts/inika-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inika-700 - latin */
  @font-face {
	font-family: 'Inika';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		 url('../assets/fonts/inika-v21-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../assets/fonts/inika-v21-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


* {
	margin: 0;
	padding: 0;
}

html {
	cursor: pointer;
}


.container {
	margin: auto;
	width: 1440px;
	background-color: #FFFFFF;
	font-family: 'Inika';
	color: #636060;

}
/*HEADER*/

header {
	background-color:  #EDF2EC;
	padding: 42px 109px 42px;
}

.container-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo {
	display: flex;
}

.nav-list {
	display: flex;
	list-style-type: none;
}

.nav-list-item {
	padding: 10px 15px;
}


.home-nav {
	color: #E06733;
}

.about-nav {
	text-decoration: double;
	font-weight: bold;
	color: #010201;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*MAIN*/

/* WELCOME */

.welcome {
	display: flex;
	background-color:  #EDF2EC;
	color:  #717171;
	padding: 62px 79px 62px;
}

.welcome .text {
	padding-left: 224.2px;
}

.text h1, h2 {
	font-weight: 700;
	font-size: 45px;
	line-height: 50px;
}

.green-words {
	color: #499A18;
}

.text p {
	font-size: 20px;
	padding-top: 48px;
	line-height: 35px;
	padding-bottom: 48px;
	color: #636060;
}

.button-item {
	color: black;
	line-height: 20px;
	font-size: 16px;
	padding: 14px 27px;
	text-transform: uppercase;
	background-color: #EDF2EC;
	border: 2px solid #E06733;
	border-radius: 10px;
}

/* ABOUT */

.about {
	display: flex;
	align-items: center;
	padding: 62px 79px 62px;
}


.about img {
	padding-left: 224.2px;
}

.about h2 {
	color: #E06733;
	font-weight: lighter;
}

/* SERVICE */

.service {
	display: flex;
	flex-direction: column;
	background-color:  #EDF2EC;
}

.service-top {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	
	padding: 50px 324px 0px 100px;
	justify-content: space-between;
}

.service-top h2 {
	font-weight: 400;
	font-size: 40px;
	line-height: 52px;	
}

.button-item{
	margin-left: 38px;
}

.figures {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding:  58px;
}

figure {
	padding: 25px 56px 55px 0px;
}

figure img {
	display: block;
}

figcaption {
	line-height: 35px;
	text-align: center;
	border: 1px solid #E3E1D5;
	border-radius: 0px 0px 20px 20px;
	padding-bottom: 34px;
	font-style: normal;
}

figcaption h3 {	
	font-weight: 700;
	font-size: 20px;
	color: #E06733;
}

figcaption p {
	font-weight: 400;
	font-size: 16px;
	color: #717171;
}

/* PRICES */

.prices {
	display: flex;
	flex-direction: column;
	padding: 50px 100px 50px 100px;
}

.heads {
	display: flex;
	justify-content: space-between;
	text-align: right;
	font-size: 40px;
	color: #000000;
}

.content {
	display: flex;
	justify-content: space-between;
}

.variants {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border: 1px solid #E3E1D5;
	border-radius: 20px;
	width: 332px;
	height: 282.01px;
}

.variants button {
	width: 250px;
	height: 50px;
	background: #EDF2EC;
	border: none;
	border-radius: 20px;
	font-weight: 700;
	font-size: 20px;
	color: #000000;
}

.call-us {
	padding: 38px 0px;
	display: flex;
	flex-direction: column;
}

.call-us img {
	padding-top: 39px;
}

.call-us button {
	background-color: #FFFFFF;
}

/* CONTACTS */

.contacts {
	background-color: #EDF2EC;
	padding: 60px 109px 0px 109px ;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/* align-items: center; */
}

.list {
	list-style-type: none;
	padding-top: 128px;
}

.list-item {
	height: 50px;
	width: 450px;
	background: #D6E7D2;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 0px;
	
	font-size: 20px;
	line-height: 40px;
	letter-spacing: 0.05em;
	padding-left: 20px;
	color: #717171;
}

/*FOOTER*/

footer {
	padding: 35px 109px 35px 109px ;
	/* height: 119px; */
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	color: #000000;
}

.foo {
	text-decoration: none;
	color: #000000;
}

